/* line 10, ../sass/main.scss */
body * {
  font-family: "Montserrat", sans-serif;
}

/* line 13, ../sass/main.scss */
body {
  background-color: #c9f5fe;
  padding: 0;
}
/* line 16, ../sass/main.scss */
body .container-fluid {
  padding: 0;
}

/* line 3, ../sass/_header.scss */
.header {
  top: 0;
  width: 100%;
  z-index: 1;
}
/* line 7, ../sass/_header.scss */
.header nav {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 11, ../sass/_header.scss */
.header .adress_email * {
  display: inline;
  font-size: 10px;
}
/* line 15, ../sass/_header.scss */
.header .social_media a, .header .menu_elements_top span {
  font-size: 10px;
}
/* line 18, ../sass/_header.scss */
.header hr {
  margin: 0;
}
/* line 22, ../sass/_header.scss */
.header .navbarSupportedContent_class ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  padding: 0;
}
/* line 28, ../sass/_header.scss */
.header .navbarSupportedContent_class li {
  width: 100%;
  box-sizing: border-box;
  background: #030101;
  color: #c9f5fe;
  flex-wrap: nowrap;
}
/* line 34, ../sass/_header.scss */
.header .navbarSupportedContent_class li * {
  color: #c9f5fe;
}
/* line 39, ../sass/_header.scss */
.header .dropdown-menu-right {
  min-width: 4rem;
}
/* line 42, ../sass/_header.scss */
.header * {
  color: gray;
}
/* line 46, ../sass/_header.scss */
.header .menu_elements span {
  font-size: 12px;
  line-height: 3.14286;
  font-weight: 350;
  letter-spacing: -0.01em;
  height: 44px;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-tap-highlight-color: transparent;
  outline-offset: -7px;
}
/* line 59, ../sass/_header.scss */
.header .menu_elements a:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.005);
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.005);
}
/* line 65, ../sass/_header.scss */
.header .social_media li i, .header .social_media li span:not(.lang) {
  font-size: 20px;
}
/* line 68, ../sass/_header.scss */
.header .social_media li i, .header .social_media li span {
  line-height: 2.14286;
  font-weight: 400;
  letter-spacing: -0.01em;
  height: 44px;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-tap-highlight-color: transparent;
  outline-offset: -7px;
}
/* line 80, ../sass/_header.scss */
.header .social_media li .lang {
  font-size: 14px;
}
/* line 83, ../sass/_header.scss */
.header .social_media li a {
  text-align: center;
}

/* line 2, ../sass/_firstsection.scss */
.first_section .container {
  height: 100%;
}
/* line 4, ../sass/_firstsection.scss */
.first_section .container #carouselExampleSlidesOnly {
  padding: 0rem 1rem;
  margin-bottom: 0;
}
/* line 7, ../sass/_firstsection.scss */
.first_section .container #carouselExampleSlidesOnly .carousel-item {
  height: 27rem;
}
/* line 9, ../sass/_firstsection.scss */
.first_section .container #carouselExampleSlidesOnly .carousel-item img {
  object-fit: cover;
}
/* line 14, ../sass/_firstsection.scss */
.first_section .container .overlay {
  position: absolute;
  top: 0;
  right: 1rem;
  background-color: #030101;
  overflow: hidden;
  width: 20%;
  height: 100%;
  padding: 1rem;
  transition: .5s ease;
}
/* line 24, ../sass/_firstsection.scss */
.first_section .container .overlay .text {
  font-size: 1.5rem;
  color: #c9f5fe;
}
/* line 28, ../sass/_firstsection.scss */
.first_section .container .overlay .s_x {
  color: #c9f5fe;
  position: absolute;
  font-size: 2.4rem;
  bottom: 1rem;
}
/* line 35, ../sass/_firstsection.scss */
.first_section .container .overlay_nav {
  background-color: rgba(3, 1, 1, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 70%;
  padding: 1rem;
  transition: .5s ease;
  z-index: 10;
}
/* line 46, ../sass/_firstsection.scss */
.first_section .container .overlay_nav img {
  height: 100%;
}
/* line 49, ../sass/_firstsection.scss */
.first_section .container .overlay_nav ul {
  list-style-type: none;
}
/* line 51, ../sass/_firstsection.scss */
.first_section .container .overlay_nav ul li {
  font-size: 0.8rem;
  color: #c9f5fe;
  border-bottom: 1px solid #c9f5fe;
}
/* line 57, ../sass/_firstsection.scss */
.first_section .container .overlay_nav .overlay_nav_element {
  float: left;
}

/* line 2, ../sass/_secondsection.scss */
.second_section .container {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100%;
}
/* line 7, ../sass/_secondsection.scss */
.second_section .container .breadcrumb li {
  display: inline;
  font-size: 0.7em;
}
/* line 10, ../sass/_secondsection.scss */
.second_section .container .breadcrumb li a, .second_section .container .breadcrumb li i {
  color: gray;
}
/* line 15, ../sass/_secondsection.scss */
.second_section .container .second_section_column_article {
  background-color: #fff;
  height: 40vh;
  margin: .5rem;
  padding: .5rem;
  position: relative;
  text-align: center;
}
/* line 22, ../sass/_secondsection.scss */
.second_section .container .second_section_column_article *:not(i) {
  font-size: 12px;
  line-height: 22px;
  color: #5d585e;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
/* line 28, ../sass/_secondsection.scss */
.second_section .container .second_section_column_article img {
  width: 100%;
}
/* line 31, ../sass/_secondsection.scss */
.second_section .container .second_section_column_article i {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
/* line 36, ../sass/_secondsection.scss */
.second_section .container .second_section_column_article .description_box {
  height: 50%;
  padding: 3vh;
}
/* line 40, ../sass/_secondsection.scss */
.second_section .container .second_section_column_article iframe {
  height: 100%;
  width: 100%;
}
/* line 44, ../sass/_secondsection.scss */
.second_section .container .second_section_column_article .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
/* line 54, ../sass/_secondsection.scss */
.second_section .container .second_section_column_article .overlay .text {
  color: #c9f5fe;
  padding: 1rem;
}
/* line 60, ../sass/_secondsection.scss */
.second_section .container .second_section_column {
  background-color: #fff;
  height: 50vh;
  margin: .5rem;
  padding: .5rem;
  position: relative;
  text-align: center;
}
/* line 67, ../sass/_secondsection.scss */
.second_section .container .second_section_column *:not(i) {
  font-size: 12px;
  line-height: 22px;
  color: #5d585e;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
/* line 73, ../sass/_secondsection.scss */
.second_section .container .second_section_column img {
  width: 100%;
}
/* line 76, ../sass/_secondsection.scss */
.second_section .container .second_section_column i {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
/* line 81, ../sass/_secondsection.scss */
.second_section .container .second_section_column .description_box {
  height: 50%;
  padding: 3vh;
}
/* line 85, ../sass/_secondsection.scss */
.second_section .container .second_section_column iframe {
  height: 100%;
  width: 100%;
}

/* line 94, ../sass/_secondsection.scss */
.pagination li {
  padding: 0.5rem;
}

/* line 1, ../sass/_thirdsection.scss */
.third_section {
  height: 100vh;
}
/* line 3, ../sass/_thirdsection.scss */
.third_section .container {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100%;
}
/* line 7, ../sass/_thirdsection.scss */
.third_section .container img {
  height: 100%;
  object-fit: cover;
}

/* line 1, ../sass/_fourthsection.scss */
.fourth_section {
  height: 100vh;
}
/* line 3, ../sass/_fourthsection.scss */
.fourth_section .container-fluid {
  height: 100%;
}
/* line 5, ../sass/_fourthsection.scss */
.fourth_section .container-fluid .row {
  width: 100%;
}
/* line 8, ../sass/_fourthsection.scss */
.fourth_section .container-fluid h1 {
  text-align: center;
  width: 100%;
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 2.5em;
  margin: 0;
}
/* line 15, ../sass/_fourthsection.scss */
.fourth_section .container-fluid video {
  width: 80%;
  margin: 0px auto;
}
/* line 19, ../sass/_fourthsection.scss */
.fourth_section .container-fluid i {
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 2em;
}

/* line 1, ../sass/_footer.scss */
.footer {
  background-color: #030101;
}
/* line 3, ../sass/_footer.scss */
.footer .container {
  height: 100%;
  padding: 15px;
}
/* line 6, ../sass/_footer.scss */
.footer .container #top_footer {
  padding-bottom: 0.5em;
  border-bottom: 0.1em solid rgba(225, 220, 226, 0.2);
}
/* line 9, ../sass/_footer.scss */
.footer .container #top_footer #contact_info {
  font-size: 0.7em;
  color: #c9f5fe;
}
/* line 12, ../sass/_footer.scss */
.footer .container #top_footer #contact_info p {
  margin: 0;
}
/* line 15, ../sass/_footer.scss */
.footer .container #top_footer #contact_info .columns {
  padding-left: 0;
}
/* line 18, ../sass/_footer.scss */
.footer .container #top_footer #contact_info #second_column {
  padding-right: 0;
}
/* line 22, ../sass/_footer.scss */
.footer .container #top_footer #navigation {
  font-size: 0.7em;
  color: #c9f5fe;
}
/* line 25, ../sass/_footer.scss */
.footer .container #top_footer #navigation ul {
  padding: 0;
}
/* line 28, ../sass/_footer.scss */
.footer .container #top_footer #navigation li {
  list-style-type: none;
}
/* line 31, ../sass/_footer.scss */
.footer .container #top_footer #navigation a {
  color: #c9f5fe;
}
/* line 34, ../sass/_footer.scss */
.footer .container #top_footer #navigation #first_navigation_column {
  padding-right: 0;
}
/* line 39, ../sass/_footer.scss */
.footer .container #top_footer #nous_contactez h4 {
  color: #c9f5fe;
}
/* line 42, ../sass/_footer.scss */
.footer .container #top_footer #nous_contactez #last_name, .footer .container #top_footer #nous_contactez #first_name {
  display: inline;
}
/* line 45, ../sass/_footer.scss */
.footer .container #top_footer #nous_contactez #message_content, .footer .container #top_footer #nous_contactez #message_submit {
  margin: 0;
}
/* line 48, ../sass/_footer.scss */
.footer .container #top_footer #nous_contactez button {
  width: 100%;
  height: 100%;
}
/* line 54, ../sass/_footer.scss */
.footer .container #bottom_footer {
  padding-top: 0.5em;
  border-top: 0.1em solid rgba(225, 220, 226, 0.2);
  color: #c9f5fe;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 59, ../sass/_footer.scss */
.footer .container #bottom_footer i {
  font-size: 1.5em;
  color: #c9f5fe;
}
/* line 63, ../sass/_footer.scss */
.footer .container #bottom_footer label {
  font-size: 1em;
  color: #c9f5fe;
}
/* line 68, ../sass/_footer.scss */
.footer .container #bottom_footer #copyright img {
  width: 30px;
}
/* line 71, ../sass/_footer.scss */
.footer .container #bottom_footer #copyright span {
  float: right;
  margin: 0.5em auto;
}
