.second_section{
	.container{
		.badge{
			background-color: $bg-color-black;
		}
		.subcats{
			font-size: .8rem;
		}
		.sublinks{
			transition-property: all;
    		transition-duration: 1s
		}
		.modal-body{
			img{
				width: 100%;
			}
		}
		padding-top: 15px;
		padding-bottom: 15px;
		height: 100%;
		.decouvrir_row{
			font-size: 0.9rem;
		}
		.breadcrumb{
			li{
				display: inline;
				font-size: 0.7em;
				a, i{
					color: $text-color;
				}
			}
		}
		.second_section_column_article{
			background-color: #fff;
		    height: 40vh;
		    margin: .5rem;
		    padding: .5rem;
		    position: relative;
		    text-align: center;
		    *:not(i){
		    	font-size: 12px;
			    line-height: 22px;
			    color: #5d585e;
			    font-family: "Montserrat", Arial, Helvetica, sans-serif;
		    }
		    img{
		    	width: 100%;
		    }
		    i{
		    	position: absolute;
		    	bottom: 15px;
		    	right: 15px;
		    }
		    .description_box{
		    	height: 50%;
		    	padding: 3vh;
		    }
		    iframe{
		    	height: 100%;
		    	width: 100%;
		    }
		    .overlay{
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: $gray-color-fade;
				overflow: hidden;
				width: 100%;
				height: 0;
				transition: .5s ease;
				.text{
					color: $bg-color;
					padding: 1rem;
				}
			}
		}
		.second_section_column{
			background-color: #fff;
		    height: 50vh;
		    margin: .5rem;
		    padding: .5rem;
		    position: relative;
		    text-align: center;
		    *:not(i){
		    	font-size: 12px;
			    line-height: 22px;
			    color: #5d585e;
			    font-family: "Montserrat", Arial, Helvetica, sans-serif;
		    }
		    img{
		    	width: 100%;
		    }
		    i{
		    	position: absolute;
		    	bottom: 15px;
		    	right: 15px;
		    }
		    .description_box{
		    	height: 50%;
		    	padding: 3vh;
		    }
		    iframe{
		    	height: 100%;
		    	width: 100%;
		    }
		}
	}
}

.pagination{
	li{
		padding: 0.5rem;
	}
}

.list-group-item{
	p{
		font-size: 0.6rem;
	}
	hr{
		width: 100%;
		color: black;
		height: 2px;
	}
}